<div class="background-image-sign_up"style="background-image:url(<%= asset_path "sign_up.jpg" %>)" />
  <div class="background-color-top-sign_in">
    <div class="container">
      <div class="row">

        <h2 class="col s4 offset-s4 sign_in-top">新規登録</h2>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
          <div class="col s5 offset-s3 field emailfolder">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email",class:"white-text" %>
          </div>

          <div class="col s5 offset-s3 field">
            <%= f.label :ユーザー名 %><br />
            <%= f.text_field :name, autofocus: true, autocomplete: "name",class:"white-text" %>
          </div>

          <div class="col s5 offset-s3 field">
            <%= f.label :好きなスポーツ %><br />
            <%= f.text_field :favorite_sports, autofocus: true, autocomplete: "name",class:"white-text" %>
          </div>

          <div class="col s5 offset-s3 field">
            <%= f.label :好きなお酒 %><br />
            <%= f.text_field :favorite_sake, autofocus: true, autocomplete: "name",class:"white-text" %>
          </div>

          <div class="col s5 offset-s3 field">
            <%= f.label :password %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password",class:"white-text" %>
          </div>

          <div class="col s5 offset-s3 field">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password",class:"white-text" %>
          </div>


          <button class="col s3 offset-s4 btn waves-effect waves-light login_button" type="submit" name="action">新規登録</button>
        <% end %>

        <div class="col s3 offset-s4 login-button-bottom-space">
          アカウントをお持ちの方は<%= link_to "こちら", new_user_session_path  %>
        </div>
        <div class="col s4 offset-s1">
          <%= link_to(user_facebook_omniauth_authorize_path) do %>
            &emsp;&emsp;&emsp;&emsp;<%= image_tag "facebook.png" %><br>Facebookアカウントでログイン
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render "devise/shared/links" %>
