<div class="background-image-bar-index"style="background-image:url(<%= asset_path "sign_up.jpg" %>)" />
	<div class="background-color-bar-index">
    	<div class="container">
    		<div class="row">
        		<div class="col s3">
          			<h5 class="user-title"></h5>
        		</div>
      		</div>
      		<div class="row">
      			<%= search_form_for @search, url: index_result_path do |f| %>
	  				<%= f.search_field :name_or_sports_or_address_cont, class:"col s4 offset-s4 bar-index-search", placeholder: '店名・住所・スポーツ名のいずれかを入力' %>
					<%= f.submit ' 検索する', class: "btn btn-primary" %>
		 		<% end %>
			</div>
			<div class="row">
        		<div class="col s3">
          			<h5 class="user-title"><b>人気TOP3</b></h5>
          			<div class="border"></div>
        		</div>
      		</div>
      		<div class="row">
      			<% @all_ranks.each do |bar| %>
    				<div class="col s3 offset-s1">
      					<div class="card">
      						<div class="card-image waves-effect waves-block waves-light">
      							<%= attachment_image_tag bar, :image, :fill, 200, 200, format: 'jpg', fallback: "no_image.jpg",class:"activator" %>
    						</div>
        					<div class="card-content">
        						<span class="activator grey-text text-darken-4 bar-index-card">
        							店名：<%= link_to(bar_path(bar)) do %>
										<%= bar.name %>
									<% end %><i class="material-icons right">more_vert</i>
								</span>
      							<p>ジャンル：<%= bar.category %></p>
        					</div>
        					<div class="card-reveal">
      							<span class="card-title grey-text text-darken-4">
      								店名：<%= link_to(bar_path(bar)) do %>
										<%= bar.name %>
									<% end %>
									<i class="material-icons right">close</i>
								</span>
      							<p>住所：<%= bar.address %></p><br>紹介文：<%= bar.body %></p>
    						</div>
      					</div>
    				</div>
    			<% end %>
  			</div>
  			<div class="row">
        		<div class="col s3">
          			<h5 class="user-title">お店一覧</h5>
          			<div class="border"></div>
        		</div>
      		</div>
      		<div class="row">
				<div class="col s12 bar-index-box-post-none">
	    			<% if @bar_result.any? %>
						<table class="highlight">
				 			<thead class="thead-light">
				 				<tr>
				 					<th>写真</th>
					 				<th>店名</th>
					 				<th>ジャンル</th>
					 				<th>普段観戦している<br>スポーツ名</th>
					 				<th>住所</th>
									<th>最終更新日</th>
				 				</tr>
				 			</thead>
					 		<% @bar_result.each do |bar| %>
					 			<tbody>
									<tr>
				 						<td><%= attachment_image_tag bar, :image, :fill, 90, 90, format: 'jpg', fallback: "bar_no_image.png" %></td>
					 					<td><%= link_to(bar_path(bar)) do %>
												<div><%= bar.name %></div>
											<% end %>
										</td>
					 					<td><%= bar.category %></td>
					 					<td><%= bar.sports %></td>
					 					<td><%= bar.address %></td>
					 					<td><%= bar.updated_at.strftime("%Y年%m月%d日 %H時%M分") %></td>
					 				</tr>
							<% end %>
				 				</tbody>
				 		</table>
					<% else %>
				 		<h6>お店が見つかりません。キーワードを変えてください。</h6>
				 	<% end %>
	    		</div>
	    	</div>
	    	<div class="col s6 offset-s3 page-change">
        		<%= paginate @bar_result, class: "paginate ,#546e7a blue-grey darken-1" %>
        	</div>
	    	<div class="post-index-blank" ></div>
    	</div>
  	</div>
</div>
