<div class="background-image-user-show">
  <div class="background-color-user-show">
    <div class="container">
      <div class="row">
        <div class="col s3">
          <h5 class="user-title"><%= @user.name %>さん</h5>
          <div class="border"></div>
        </div>
        <div class="col s2 offset-s1 friend-button">
          <%= render partial:'relationships/form_follow_button', locals: { user: @user } %>
        </div>
        <div class="col s2 offset-s1 user-show-chat">
          <% unless @user.id == current_user.id %>
            <%# if @user  == @friends  %>
              <% if @isRoom == true %>
                <p><a href="/rooms/<%= @roomId %>"class="btn btn-success mx-auto btn-lg">チャットへ</a></p>
              <% else %>
                <%= form_for @room do |f| %>
                  <%= fields_for @join do |e| %>
                    <%= e.hidden_field :user_id, :value=> @user.id %>
                  <% end %>
                  <%= f.submit "チャットを始める" ,class: "btn btn-success mx-auto btn-lg"%>
                <% end %>
              <% end %>
            <%# end %>
          <% end %>
        </div>
      </div>

      <div class="row user-show-contents">
        <div class="user-info">
          <div class="col s4 offset-s5">
            <%= attachment_image_tag @user, :image, :fill, 150, 150, format: 'jpg', fallback: "no_image.jpg",class:"notification-user-image" %>
          </div>


          <div class="col s4 offset-s4">
            <label class="float-left">ユーザー名</label>
            <input type="text" class="user-show-name col-auto form-control" value="<%= @user.name %>" readonly>
          </div>

          <div class="col s4 offset-s4">
            <label class="float-left">好きなスポーツ</label>
            <input type="text" class="user-show-name col-auto form-control" value="<%= @user.favorite_sports %>" readonly>
          </div>

          <div class="col s4 offset-s4">
            <label class="float-left">好きなお酒</label>
            <input type="text" class="user-show-name col-auto form-control" value="<%= @user.favorite_sake %>" readonly>
          </div>
          <% if @user == current_user %>
            <div class="col s4 offset-s4">
              <label class="control-label " for="InputText">メールアドレス</label>
              <input type="text" class="user-show-email col-auto form-control" id="InputText" value="<%= @user.email %>" readonly>
            </div>
        </div>
      </div>

      <div class="row user-show-button">
        <div class="col s2 offset-s4">
          <%= link_to "編集する", edit_user_path(current_user.id), class: "btn btn-success mx-auto btn-lg" %>
        </div>
        <div class="col s2 ">
          <%= link_to "退会する", exit_path(current_user.id), class: "btn btn-success mx-auto btsn-lg #b71c1c red darken-4" %>
        </div>
        <% end %>
        <div class="col s2 offset-s5 user-show-post-index">
          <%= link_to "投稿一覧へ", posts_path(@user)  %>
        </div>
      </div>
    </div>
  </div>
</div>