<%= render 'admin/admin_menu' %>
<div class="container">
    <div class="row">
       	<div class="col s3">
          	<h5 class="admin-user-title">返信する</h5>
          	<div class="admin-border"></div>
       	</div>
    </div>
	<div class="row">
		<div class="col s3 offset-s1 ">
			<u>問い合わせID</u>:<%= @contact.id %>
		</div>
		<div class="col s5 offset-s1">
			<u>問い合わせユーザー名</u>：<%= @contact.user.name %>
		</div>
	</div>

	<div class="row">
		<div class="col s11 offset-s1 admin-contact-show-title">
			<u>メールアドレス</u>:<%= @contact.user.email %>
		</div>
		<div class="col s11 offset-s1 admin-contact-show-title">
			<u>問い合わせ日時</u>:<%= @contact.created_at.strftime("%Y年%m月%d日") %>
		</div>
		<div class="col s11 offset-s1 admin-contact-show-title">
			<b><u>件名</u></b>:<%= @contact.title %>
		</div>

		<div class="col s11 offset-s1 admin-contact-show-title">
			<b><u>問い合わせ内容</u></b>:<%= @contact.body %>
		</div>



		<%= form_for (@reply), url:admin_contacts_path do |f| %>
		<%= f.hidden_field :contact_id, :value => @contact.id %>
		<div class="row">
			<div class="col-xs-8 col-xs-offset-2">
				<div class="reply-title-position">
					<label class="reply-title-text">返信件名</label>
					<div class="reply-title-box"><%= f.text_field :title, class:"reply-title-box" %></div>
				</div>
				<div class="reply-body-position">
					<label class="reply-body-text">返信内容</label>
					<div class="reply-body-box"><%= f.text_area :body, class:"reply-body-box" %></div>
				</div>
			</div>
		</div>
	</div>
			<%= f.submit '送信', class:'btn btn-primary col-xs-2 col-xs-offset-5' %>
		<% end %>
	</div>
	<div class="row">
		<%= link_to admin_contacts_path do %>
			<div class="col-xs-4 col-xs-offset-4 back-to-contact-index"><問い合わせ一覧へ</div>
		<% end %>
	</div>
</div>
