<div class="navbar-fixed">
	<nav>
	    <div class="nav-wrapper  #ff7043 deep-orange lighten-1">
	      <!-- アドミンでログインした場合 -->
	      <% if admin_signed_in? %>
	        <a href="/bars/search"class="logo"><%= image_tag "logo.png" %></a>
		    <a href="/bars/search"class="gather">GATHER</a>
		    <ul id="nav-mobile" class="right hide-on-med-and-down">
		    	<li><a><u>管理者様</u></a></li>
		    	<li>
		    		<%= link_to(destroy_admin_session_path, method: :delete) do %>
        			<span class="signout"> サインアウト</span>
        			<% end %>
        		</li>
        	</ul>
		  <!-- エンドユーザーでログインした場合 -->
	      <% elsif user_signed_in?%>
	      	  <a href="/bars/search"class="logo"><%= image_tag "logo.png" %></a>
		      <a href="/bars/search"class="gather">GATHER</a>
			  <ul id="nav-mobile" class="right hide-on-med-and-down">
			    <li>
			    	<%= link_to(user_path(current_user)) do %>
	        			<span><u><%= current_user.name %>さん</u></span>
	      			<% end %>
	      		</li>
        		<li>
        			<span class="fa-stack g-notification">
        				<%= link_to(notifications_path) do %>
        					<i class="fas fa-bell fa-stack-2x f-notification"></i>
        					<% if unchecked_notifications.any? %>
    							<i class="fa fa-circle fa-stack-1x a-notification"></i>
  							<% end %>
        				<% end %>
        			</span>
        		</li>
        		<li><%= link_to(destroy_user_session_path, method: :delete) do %>
        			<span class="signout"> サインアウト</span>
        		<% end %></li>
			    <li><a id='dropdown-trigger1' class="dropdown-trigger" href="#!" data-target="dropdown1">会員メニュー<i class="material-icons right">arrow_drop_down</i></a></li>
			  </ul>
			<ul id="dropdown1" class="dropdown-content">
  				<li><a href="/bars/search" class="#757575 grey darken-1 white-text text-darken-2">現在地から探す</a></li>
  				<li><a href="/bars" class="#757575 grey darken-1 white-text text-darken-2">店名検索</a></li>
  				<li><a href="/bars/new" class="#757575 grey darken-1 white-text text-darken-2">店舗新規登録</a></li>
  				<li><%= link_to "マイページ",(user_path(current_user.id)),class:"#757575 grey darken-1 white-text text-darken-2"  %></li>
  				<li><a href="/posts" class="#757575 grey darken-1 white-text text-darken-2">投稿一覧</a></li>
  				<li><a href="/bars/:bar_id/favorites" class="#757575 grey darken-1 white-text text-darken-2">お気に入り一覧</a></li>
  				<li><a href="/relationships" class="#757575 grey darken-1 white-text text-darken-2">友達一覧</a></li>
  				<li><a href="/contacts/new" class="#757575 grey darken-1 white-text text-darken-2">お問い合わせ</a></li>
			</ul>
		  <!-- 非ログイン時 -->
	      <% else %>
	      <a href="/"class="logo"><%= image_tag "logo.png" %></a>
	      <a href="/"class="gather">GATHER</a>
		    <ul id="nav-mobile" class="right hide-on-med-and-down">
		    	<li><%= link_to "About",(top_about_path) %></li>
	      		<li><%= link_to(new_user_registration_path) do %>
	        		<a href="/users/sign_up"class="signup"> 新規登録</a>
	      		<% end %>
	      		</li>
	      		<li><%= link_to(new_user_session_path) do %>
	        		<a href="/users/sign_in" class="signin"> ログイン</a>
	      		<% end %>
	      		</li>
	      		<li><%= link_to(new_user_session_path) do %>
	        		<a href="/bars/search"class="signsin"> 現在地から探す</a>
	      		<% end %>
	      		</li>
	      		<li><%= link_to(new_user_session_path) do %>
	        		<a href="/bars/"class="signin"> 検索して探す</a>
	      		<% end %>
	      		</li>
	      	</ul>
		  <% end %>
	    </div>
	</nav>
</div>